.bg{

position:fixed;

inset:0;

z-index:-1;

overflow:hidden;

}

.orb{

position:absolute;

border-radius:50%;

filter:blur(100px);

animation:

move 12s infinite
ease-in-out;

}

.orb1{

height:500px;

width:500px;

background:

#2667ff;

top:-100px;

left:-150px;

opacity:.35;

}

.orb2{

height:400px;

width:400px;

background:

#8b5cf6;

bottom:-100px;

right:-80px;

opacity:.3;

animation-delay:

-4s;

}

.orb3{

height:350px;

width:350px;

background:

#00c2ff;

top:40%;

left:45%;

opacity:.25;

animation-delay:

-8s;

}

@keyframes move{

0%{

transform:
translate(0,0);

}

50%{

transform:

translate(
40px,
-60px
);

}

100%{

transform:
translate(0,0);

}

}