.mouse-glow{

position:fixed;

width:350px;

height:350px;

border-radius:50%;

background:
radial-gradient(
circle,
rgba(90,168,255,0.18),
transparent 70%
);

pointer-events:none;

transform:
translate(-50%,-50%);

z-index:0;

transition:
left .08s linear,
top .08s linear;

filter:
blur(25px);

}