.social{

position:fixed;

left:40px;

top:50%;
transform:translateY(-50%);

display:flex;

flex-direction:column;

gap:18px;

z-index:1000;

}

.social a{

padding:

14px
18px;

background:

rgba(
255,
255,
255,
0.05
);

backdrop-filter:
blur(20px);

border:

1px solid
rgba(
255,
255,
255,
0.08
);

border-radius:20px;

transition:.3s;

}

.social a:hover{

transform:

translateX(
10px
);

background:

rgba(
90,
168,
255,
0.15
);

}

@media(
max-width:900px
){

.social{

left:16px;

bottom:20px;

}

}