.social{

position:fixed;

left:20px;

bottom:40px;

display:flex;

flex-direction:column;

gap:16px;

z-index:1000;

}

.social a{

padding:12px 18px;

background:
rgba(255,255,255,0.05);

backdrop-filter:
blur(20px);

border:
1px solid rgba(255,255,255,0.08);

border-radius:20px;

transition:.3s;

font-size:15px;

}

.social a:hover{

transform:
translateX(10px);

background:
rgba(90,168,255,0.15);

}

@media(max-width:1200px){

.social{

left:12px;

}

}

@media(max-width:900px){

.social{

display:none;

}

}