#stats{

padding-top:140px;

}

.stats-grid{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(420px,1fr)
);

gap:40px;

margin-top:70px;

}

.stats-card{

position:relative;

overflow:hidden;

padding:40px;

border-radius:36px;

background:
rgba(255,255,255,.03);

border:
1px solid rgba(255,255,255,.06);

transition:
all .35s ease;

}

.stats-card:hover{

transform:
translateY(-6px);

box-shadow:
0 18px 50px rgba(0,0,0,.28);

}

.stats-card h2{

margin-bottom:30px;

font-size:34px;

}

.stats-card img{

width:100%;

border-radius:22px;

}

.stats-glow{

position:absolute;

width:240px;

height:240px;

border-radius:50%;

filter:blur(100px);

opacity:.18;

top:-40px;

right:-40px;

pointer-events:none;

}

.github{

background:#5aa8ff;

}

.leetcode{

background:#FFA116;

}

@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr;

}

.stats-card{

padding:24px;

}

.stats-card h2{

font-size:28px;

}

}
.github-stats{

width:100%;

border-radius:20px;

}