.visitor{

position:fixed;

right:24px;

bottom:24px;

z-index:1000;

transition:
all .35s ease;

}

.visitor img{

height:58px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.25);

}

.visitor:hover{

transform:
translateY(-4px);

}

@media(max-width:768px){

.visitor{

right:16px;

bottom:16px;

}

.visitor img{

height:52px;

}

}